
  div {
    display: flex;
    flex-direction: column;
    
  }
  
  h1 {
    font-size: 5.25rem;
    padding: 100px;
    text-align: left;
  }
  
  .container {
    height: 100vh;
    display: flex;
  }

  .left-half {
    flex: 1;
    padding: 1rem;
  }
  
  .right-half {
    flex: 1;
    padding: 1rem;
  }
  

  .entry-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
  background-color: bisque;
  box-sizing: inherit;
  padding: 3%;
  box-shadow: 0px 0px 15px -5px black;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  
}
.text-center {
  padding-top: 4%;
  border-radius: 6%;
}
.btn-info {
  border-radius: 6%;
  background-image: radial-gradient(rgb(132, 214, 132),white);
  border-style: none;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;

}

